*~
*.aux
*.bbl
*.blg
*.log
/cefp.pdf
*.toc
*.out

*.o
*.hi
*.eventlog

*.snip

*.old

/doc/book.pdf
/doc/lab-exercises.pdf
/doc/utils/splicecode

/code/bingtranslator
/code/bingtranslatorconc
/code/chat/chat
/code/euler35/euler35
/code/fork
/code/geturls
/code/geturlscancel
/code/geturlsfirst
/code/geturlsstm
/code/kmeans/GenSamples
/code/kmeans/kmeans
/code/kmeans/kmeans-seq
/code/parinfer/parinfer
/code/server
/code/sudoku-par1
/code/sudoku-par2
/code/sudoku-par3
/code/sudoku-par4
/code/sudoku1
/code/sudoku2
/code/sudoku3
/code/sudoku4
/code/remote-ping/ping
/code/remote-ping/ping-fail
/code/remote-ping/ping-multi
/code/remote-ping/ping-tc
/code/remote-db/db
/code/remote-db/db2
/code/remote-db/db4
/code/correcter
/code/crc32/crc32_acc.hs
/code/mandel/mandel
/code/remote-chat/chat
/code/concbench
/code/index/docs

/par-tutorial*.tar.gz
/par-tutorial*.zip
